.THIS table td.input_fixed_width{
  table-layout:fixed;
  width:45%;
  word-wrap:break-word;
}
.THIS table td.input_SNO_width{
  table-layout:fixed;
  width:5%;
  word-wrap:break-word;
}
.THIS table td.input_fixed_width_lay{
    table-layout:fixed;
    width:30%;
    word-wrap:break-word;
}