.THIS .font_bold{
    font-weight: unset;
}
.THIS .slds-tabs_default__item.slds-is-active{
    font-weight: 700;
}
.THIS .slds-table thead th {
    background-color: rgb(250, 250, 249);
    color: rgb(81, 79, 77);
    padding: .25rem .5rem;
    font-weight: 700;
    line-height: normal;
}
.THIS .slds-text-title_caps{
    font-weight: inherit;
    color: inherit;
}
.THIS .slds-icon_small{
    width: 1.25rem;
    height: 1.25rem;
}
.THIS .slds-form-element__label{
    display: none;
}
.THIS .slds-table_bordered{
    border-collapse: collapse;
    border-top: none;
}
.THIS .slds-tabs_default__content{
    padding: 0;
}
.THIS .slds-modal__content .slds-table{
    margin-bottom: 3rem;
}
.THIS .forceMultiEdit.multiEditFooterContainer {
    padding: .5rem 1.5rem;
}
.THIS .forceMultiEdit {
    position: relative;
}
.THIS .slds-p-around_medium{
    padding: 0;
}
.THIS .forceMultiEdit.multiEditFooterContainer .addNewRows {
    flex: 1 0 auto;
    text-align: left;
}
.THIS .forceMultiEdit .inlineEdit--enabled .slds-table--edit .slds-cell-edit.cellContainer .virtualRowActionColumn {
    position: absolute;
    height: calc(100% - 0.125rem * 2);
    top: .125rem;
    left: .125rem;
    vertical-align: middle;
    min-height: 1.5rem;
}
.THIS .slds-button .slds-icon_small{
    line-height: 1.35;
}