<template>
        <lightning-card title="HelloBinding"  icon-name="custom:custom14">
            <h1>You Entered: {inputvalue}</h1>
            <c-events-input onvalue={valueChange}></c-events-input>
        </lightning-card>
</template>