<template>
    <lightning-card title="Home Page">
        <lightning-button label="Home Page" class="slds-m-around-medium" onclick={navigationHome}></lightning-button>
        <lightning-button label="Case Home Page" class="slds-m-around-medium" onclick={navigationCase}></lightning-button>
    </lightning-card>
</template>