<template>
    <lightning-card title="HelloBinding"  icon-name="custom:custom14">
        <div class="slds-m-around-medium">
            <p>Hello World!</p>
        </div>
        <p if:true={greeting}>Hello, {greeting}!</p>
        <!--p>{recordId}</p>
        <p>{objectApiName}</p-->    
        <lightning-input label="Name" value={greeting} onkeyup={handleChange}></lightning-input>
        
    </lightning-card>
</template>